h1:focus {
	outline: none;
}

a, .btn-link {
	color: #0071c1;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#blazor-error-ui .dismiss {
	cursor: pointer;
	position: absolute;
	right: 0.75rem;
	top: 0.5rem;
}

.blazor-error-boundary {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIgb3ZlcmZsb3c9ImhpZGRlbiI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNMjM1IDUxaDU2djQ5aC01NnoiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZmlsbD0iI0ZGRTUwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMjYzLjUgNTFjMS4yMiAwIDIuMzEuNDggMy4xIDEuMjdsLjQ1LjUzLjQ5LjgzIDIyLjY0IDM4LjU1LjM3LjYxLjEuMmE0LjM1IDQuMzUgMCAwIDEtNC4wNCA2bC00Ni4yMy4wMWE0LjM1IDQuMzUgMCAwIDEtNC4zLTUuMmwuMjYtLjc4LjUyLS44OSAyMi42MS0zOC41LjUtLjgzLjQ0LS41M2E0LjQgNC40IDAgMCAxIDMuMS0xLjI3Wm0uMDkgMTUuMDJjLTIuODUgMC00LjI4IDEuMS00LjI4IDMuMzIgMCAuMjcuMDIuNTIuMDYuNzVsMi40MyAxMy45M2gzLjU4bDIuNDQtMTQuMjdjLjA0LS4wMi4wNi0uMTYuMDYtLjQzIDAtMi4yLTEuNDMtMy4zLTQuMy0zLjNabS0uMDEgMjAuMDNjLTIuNTMgMC0zLjggMS4yNS0zLjggMy43NCAwIDIuNSAxLjI3IDMuNzQgMy44IDMuNzQgMi41NCAwIDMuOC0xLjI1IDMuOC0zLjc0cy0xLjI2LTMuNzQtMy44LTMuNzRaIi8+PC9nPjwvc3ZnPg==) no-repeat 1rem/1.8rem, #b32121;
	padding: 1rem 1rem 1rem 3.7rem;
	color: white;
}

.blazor-error-boundary::after {
	content: "An error has occurred."
}
