name: Deploy OTRMod to gh-pages

on:
  push:
    branches: [ master ]
    paths-ignore: ["**.adoc"]
env:
  OUT_DIR: out

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Restore workload
        run: dotnet workload restore

      - name: Publish app
        run: dotnet publish OTRMod.Web/OTRMod.Web.csproj -c Release -o ${{env.OUT_DIR}}

      - name: Copy index.html to 404.html
        run: cp ${{env.OUT_DIR}}/wwwroot/index.html ${{env.OUT_DIR}}/wwwroot/404.html

      - name: Add .nojekyll file
        run: touch ${{env.OUT_DIR}}/wwwroot/.nojekyll

      - name: Commit to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          BRANCH: gh-pages
          FOLDER: ${{env.OUT_DIR}}/wwwroot
